*{
    /* border: 1px solid black; */
}
#j6 li{
list-style: none;
margin: 10px;
opacity: 0.8;
}
#j6{
    display: flex;
    width: 600px;
    margin: 0 auto;
}
#j7{
    display: block;
    margin-left: -24px;
}
@media only screen and (max-width: 600px) {
    #j5{
       width: 100%;
       text-align: start;
    }
    #j5 .row{
margin-left: -30px;
    }
    #j5 .row .col-3{
        margin-left: -30px;
    }
    #j1{
        display: flex;
    }
    #j2 span{
    display: none;
    }
    #j4 h1{
      width: 300px;
      margin: 0 auto;
    }
    #j4 p{
        font-size: 15px;
        text-align: center;
      width: 250px;
      /* margin-left: 20px; */
      margin: 0 auto;
    }
    #j6{
        display: grid;
        grid-template-columns: auto auto;
    }
    #j4{
        text-align: center;
    }
    #j8{
        display: block;
        margin: 0 auto;
        
    }
#k1{
    width: 50%;
    margin-left: -100px;
}
}
@media only screen and (max-width: 1080px) {
#j8{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
}
#j5{
    width: 100%;
    text-align: start;
 }
 #j5 .row{
margin-left: -30px;
 }
 #j5 .row .col-3{
     margin-left: -30px;
 }
 #j1{
     display: flex;
 }
 #j2 span{
 display: none;
 }
 #j4 h1{
   width: 300px;
   margin: 0 auto;
 }
 #j4 p{
     font-size: 15px;
     text-align: center;
   width: 250px;
   /* margin-left: 20px; */
   margin: 0 auto;
 }
 #j4{
     text-align: center;
 }
 #k1{
    width: 70%;
 }
 }


